.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: transparent;
}

.logo img {
    height: 800px;
    width: 1800px;
    object-fit: contain;
    background: transparent;
    filter: brightness(1.2) contrast(1.2);
    mix-blend-mode: normal;
} 